/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ----- Meyer's Reset End ----- */

body {
  font-family: Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  margin: 0;
  padding: 0;
}

/* Header Part */

header {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #1f2937;
  padding: 30px 150px;
}

.logo {
  font-size: 24px;
  font-weight: 500;
  color: #f9faf8;
}

.nav {
  margin-left: auto;
}

.nav > ul > li {
  list-style: none;
  font-size: 18px;
  color: #e5e7eb;
}

.nav > ul {
  display: flex;
  gap: 30px;
}

/* Content Part */
/* Section One */
.section-one {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 100px 150px;
}

.section-one > .hero-image {
  height: 250px;
  display: flex;
}

.section-one > .hero-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 500px;
}

.section-one > .hero-text > h1 {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
}

.section-one > .hero-text > p {
  font-size: 18px;
  color: #e5e7eb;
  line-height: 30px;
}

.section-one > .hero-text > button {
  background-color: #3882f6;
  border-color: #3882f6;
  color: #f9faf8;
  border-radius: 8px;
  padding: 12px 30px;
  font-size: 24px;
  width: 150px;
}

/* Section Two */
.section-two {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
  padding: 50px 0 150px 0;
}

.section-two > .information-text {
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
}

.section-two .cards {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.card .image {
  width: 150px;
  height: 150px;

  border: 5px #3882f6 solid;
  border-radius: 15px;

  overflow: hidden;
}

.card img {
  min-height: 100%;
  min-width: 100%;
}

.card p {
  width: 150px;
  text-align: center;
  color: #1f2937;
  font-size: 18px;
}

/* Section Three */
.section-three {
  background-color: #e5e7eb;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-three > p {
  font-size: 36px;
  font-style: italic;
  font-weight: 100;
  width: 800px;
  margin: 0;
  line-height: 40px;
}

.section-three > div {
  padding: 0 0 0 500px;
  font-weight: 800;
  font-size: 30px;
}

/* Signup Part */
.signup-section {
  display: flex;
  justify-content: center;
  align-content: center;
}

.signup-box {
  background-color: #3882f6;
  color: #e5e7eb;
  border-radius: 10px;

  margin: 100px 150px;
  padding: 50px 100px;

  width: 700px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text > h1 {
  font-weight: 800;
  font-size: 1.3em;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
}

.sign-up {
  background-color: #3882f6;
  border: 2px #e5e7eb solid;
  border-radius: 8px;
  color: #e5e7eb;
  width: 140px;
  height: 40px;
  font-size: 1.2em;
}

/* Footer Part */
footer {
  background-color: #1f2937;
  color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}